{% extends "base.html" %}

    {% block title %} {% if post %} Редактировать запись {% else %} Добавить запись {% endif %} {% endblock %}

{% block content %}
    {% if post %}
           <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                   <p>{{ form.group }} выберите группу в которой хотите опубликовать свой пост </p>
                   <p>{{ form.text }}  </p>
                   <p>{{ form.image }}  </p>
                   <button type="submit" class="btn btn-primary" >Сохранить</button>

           </form>

    {% else %}

           <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                   <p>{{ form.group }} выберите группу в которой хотите опубликовать свой пост </p>
                   <p>{{ form.text }} </p>
                    <p>{{ form.image }}  </p>
                   <button type="submit" class="btn btn-primary" >Добавить</button>

           </form>
    {% endif %}
{% endblock %}


